<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travelin Proje</title>
    <link rel="shortcut icon" type="image/x-icon" href="/travelin/images/favicon.png">
    <link href="/travelin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/travelin/css/style.css" rel="stylesheet" type="text/css">
    <link href="/travelin/css/plugin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/travelin/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/travelin/fonts/line-icons.css" type="text/css">
</head>

<div id="preloader">
    <div id="status"></div>
</div>