<section class="discount-action pt-0" style="background-image:url(/travelin/images/section-bg1.png); background-position:center;">
	<div class="container">
		<div class="call-banner rounded pt-10 pb-14">
			<div class="call-banner-inner w-75 mx-auto text-center px-5">
				<div class="trend-content-main">
					<div class="trend-content mb-5 pb-2 px-5">
						<h5 class="mb-1 theme">Nereye Gideceğini Seç</h5>
						<h2><a href="detail-fullwidth.html">Hayatını Keşfet, <span class="theme1">İstediğin Her Yere Seyahat Et!</span></a></h2>
						<p>Dünyanın dört bir yanındaki gizli güzellikleri keşfetmek için şimdi yola çık. Her adımda yeni maceralar, unutulmaz anılar seni bekliyor.</p>
					</div>

					<!-- Video Butonu -->
					<div class="video-button text-center position-relative">
						<div class="call-button text-center">
							<button type="button" class="play-btn js-video-button"
									data-video-id="52zmpRT5RFg"
									data-channel="youtube">
								<i class="fa fa-play bg-blue"></i>
							</button>
						</div>
						<div class="video-figure"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="white-overlay"></div>
	<div class="white-overlay"></div>
	<div class="section-shape top-inherit bottom-0" style="background-image: url(/travelin/images/shape6.png);"></div>
</section>
