<section class="our-partner pb-6 pt-6">
	<div class="container">
		<div class="section-title mb-6 w-75 mx-auto text-center">
			<h2 class="mb-1">
				Harika  <span class="theme">Ortaklarımız</span>
			</h2>
			<p>
				Ortaklarımız, birlikte büyümeyi ve karşılıklı fayda sağlamayı hedefleyen değerli iş birliklerimizdir.
			</p>
		</div>
		<div class="row align-items-center partner-in partner-slider">
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-1.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-5.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-2.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-3.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-4.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="partner-item p-4 py-2 rounded bg-lgrey">
					<img src="/travelin/images/cl-5.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>